.my-btn.btn.btn-outline-primary.btn-sm:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none;
}

body {
  height: 100vh;
}

.hover {
  background: #2196f3;
  color: white;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 32px;
  border: 1px solid #ddd;
  font-size: 18px;
}

.pick-one-skip-n,
.caesar-shift,
.string-manipulation {
  /* padding: 0 10px; */
  margin-right: 5px;
  user-select: none;
}
